{# src/tapadestage/EtudiantBundle/Resources/views/Etudiant/index.html.twig #}
<!DOCTYPE html>
<html>
 <head>
 <title>Bienvenue sur votre première page créée avec Symfony !</title>
 </head>
 <body>
 <h1>Section  </h1>
 <h1> {{id~" "~nb}} </h1>
 </body>
</html>