{% extends "webStudentEtudiantBundle:Etudiant:layout.html.twig" %}

	{% block body %}
	{% block test %} {{ parent() }} {% endblock %}
 <h1>Salut les étudiants</h1>
 <p>
 Félicitations, vous avez réussi à créer une première page. Vous avez compris ?!?
 </p>

 <h1>Salut  {{id}} </h1>
 {% endblock %}