{% extends "webStudentEtudiantBundle:Etudiant:layout.html.twig" %}

	{% block body %}
	{% block test %} {{ parent() }} {% endblock %}
 <h1>Modifier</h1>
 <p>
Modifier {{ id }}
 </p>
 {% endblock %}