{# src/webStudent/StageBundle/Resources/views/Stage/consulter.html.twig #}
<!DOCTYPE html>
<html>
 <head>
 <title>Bienvenue sur votre première page créée avec Symfony !</title>
 </head>
 <body>
 <h1>Salut les étudiants</h1>
 <p>
Consulter
 </p>
 </body>
</html>