{# src/tapadestage/EtudiantBundle/Resources/views/Etudiant/index.html.twig #}
<!DOCTYPE html>
<html>
 <head>
 <title>Bienvenue sur votre première page créée avec Symfony !</title>
 </head>
 <body>
 <h1>Etudiant  </h1>
 <table border=1>
 	<tr>
 		<td>Nom </td>
 		<td> {{id}}</td>
 	</tr> </h1>
 	<tr>
 		<td>Prenom </td>
 		<td> {{prenom}}</td>
 	</tr>
 	<tr>
 		<td>Mail </td>
 		<td> {{mail}}</td>
 	</tr>
 	<tr>
 		<td>Telephone </td>
 		<td> {{telephone}}</td>
 	</tr>
 	
 </table	
 </body>
</html>